<style type="text/css">
  #app {
    padding-top: 40px;
  }
  h2, p {
    text-align: center;
    display: block;
  }
  h2 {
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
  }
  .fa {
    padding-right: 5px;
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  ul {
    text-align: center;
  }
  ul li {
    line-height: 1.6;
  }
</style>
<h2 data-i18n="[html]app.title"></h2>
<p data-i18n="[html]app.p"></p>
<ul class="info">
  <li data-i18n="[html]app.locale"></li>
  <li data-i18n="[html]app.timezone"></li>
</ul>
